<div class="month-name">{{ month }} {{ year}}</div>

<div class="day-of-week">S</div>
<div class="day-of-week">M</div>
<div class="day-of-week">T</div>
<div class="day-of-week">W</div>
<div class="day-of-week">T</div>
<div class="day-of-week">F</div>
<div class="day-of-week">S</div>

{{#each daySlots}}
  <button class="calendar-day-button" data-date="{{ this.date }}"{{#unless this.enabled }} disabled="disabled"{{/unless}}>{{ this.day }}</button>
{{/each}}