<h2 class="title">Select Date Range</h2>

<div class="date-input start-date-input">
  <label class="date-input-label start-date-input-label">Start Date</label>
  <input disabled="disabled" class="date-input-field start-date-input-field" type="text" value="{{ startDate }}">
</div>
<div class="date-input">
  <label class="date-input-label end-date-input-label">End Date</label>
  <input disabled="disabled" class="date-input-field end-date-input-field" type="text" value="{{ endDate }}">
</div>

<div class="calendar-slider">
  <button class="previous-month-button"></button>
  <button class="next-month-button"></button>
</div>
