$primary-color: #001222;
$secondary-color: #ae9876;
$alternative-header-background-color: #717074;
$black: #000;
$white: #fff;
$should-be-white-but-is-not-white: #f1f1f1;
$off-white: #f8f8f8;
$grey: #474747;
$text-grey: #676767;
$light-grey: #e1e1e1;
$green: #67a04d;
$red: #e22926;
